@use "@styles/variables"

#chefs-highlight
  padding: 40px
  background-color: variables.$light-blush

  h2
    color: variables.$deep-plum

  .chefs
    display: flex
    justify-content: space-around

    .chef-card
      text-align: center
      width: 30%

      img
        width: 100%
        height: auto
        border-radius: 50%
        border: 2px solid variables.$deep-plum

      h3
        color: variables.$deep-plum

      p
        color: variables.$rose-pink