@use '@styles/variables' as *
@use '@styles/mixins' as *

.dishcard
  display: flex
  flex-direction: column
  align-items: center

  border: 2px solid $deep-plum
  border-radius: 1.6rem

  padding: 1rem 2rem

  background-color: white

  width: 350px

  .dish-img
    width: 300px
    height: 300px
    object-fit: cover

    border: 2px solid $deep-plum
    border-radius: 25%
  
  &__info
    display: flex
    flex-direction: column

  details
    width: 100%
    padding: 1rem
    background-color: $rose-pink
    color: $light-blush
    text-align: center
    cursor: pointer
    font-weight: bold

    ul
      background-color: $light-blush
      color: $deep-plum
      padding: 1rem
      border-radius: 0.8rem
      cursor: default
      text-align: left
      list-style: none