@use '@styles/variables' as *
@use '@styles/mixins' as *

.category-page
  background-color: $light-blush

  .menu-category
    padding: 3rem 2rem
    display: flex
    flex-direction: column
    align-items: center
    gap: 2rem

    &__header
      font-size: 2.5rem
      font-weight: 600
      color: $deep-plum
      border-bottom: 2px solid $rose-pink
      padding-bottom: 0.5rem
      text-align: center

    &__menu-actions
      display: flex
      gap: 1rem
      justify-content: center
      flex-wrap: wrap

    &__dishes
      display: flex
      align-items: center
      justify-content: center
      flex-wrap: wrap
      gap: 2rem
      width: 100%
      margin-top: 2rem

      +respond-to(tablet)
        flex-direction: column
