@use '@styles/variables'
@use '@styles/mixins' as *

.menu-page
    background-color: variables.$light-blush
    padding: 2rem

    &__categories
        text-align: center

    h1
        color: variables.$deep-plum

    &__navigation
        margin-top: 1rem
        display: flex
        justify-content: space-evenly

        &__option
            margin: 0.8rem 0 

        +respond-to(tablet)
            flex-direction: column
    
    // &__section-preview
    //     display: flex
    //     justify-content: center